<div class="row">
	<div class="col-lg-6">
		<div class="course-time"></div>
		<div class="row">
			<div class="col-xs-9 form">
				<%= form_tag 'javascript:void(0)', class: "getInfo" do %>
				<%= label_tag "recipe", "What do you want to eat?", class: "control-label" %>
				<%= text_field_tag '', nil, id:"recipe", class: "recipeName form-control", autofocus: true %>
				<%= submit_tag ("Find Food"), class: "btn btn-success margin-top margin-bottom" %>
				<% end %>
			</div>
			<div class="col-xs-3"></div>
			</div>
		<h3>Search Result:</h3>
		<div>
			<div class="user-data"></div>
		</div>
	</div>

	<div class="canvas-holder col-lg-6">
		<canvas id="chart-area" width="" height="200"></canvas>
		<div class="cal-caption"></div>
		<div class="protein-caption">Protein</div>
		<div class="fat-caption">Fat</div>
		<div class="carb-caption">Carbs</div>
	</div>	
</div>
