<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div id="blah" class="values">
		<p>orange</p>
		<p>green</p>
		<p>red</p>
</div>

<div id="canvas-holder">
			<canvas id="chart-area" width="500" height="500"/>
</div>




