	<div class="food">
		<div class="col-sm-3">
			<div class="thumbnail thumb-ht">
				{{#each result.images}}
					<img src="{{hostedLargeUrl}}" alt="Picture of Food">
				{{/each}}
				<div class="caption">
					<a href="/foods/{{result.id}}"><h3> {{result.name}}</h3></a>
						
						{{#each result.nutritionEstimates}}
						
							{{#ifCond attribute "ENERC_KJ" }}
							<p>
								Calories: <span class = "{{attribute}}" data-calories = "{{value}}">{{value}}</span>
							</p>
							{{/ifCond }}
						
							{{#ifCond attribute "FAT" }}
							<p class = "{{attribute}}" data-fat = "{{value}}">
								Fat: {{value}}
							</p>
							{{/ifCond }}
						
							{{#ifCond attribute "PROCNT"}}
							<p class = "{{attribute}}" data-protein = "{{value}}">
								Protein: {{value}}
							</p>
							{{/ifCond }}
						
							{{#ifCond attribute "CHOCDF"}}
							<p class = "{{attribute}}" data-carbs = "{{value}}">
								Carbs: {{value}}
							</p>
							{{/ifCond }}
						{{/each}}
				</div>
			</div>
		</div>
	</div>
