<div class="row grey">
	<p class="red-band"></p>
	<div class="col-xs-4">
		<div class="course-time"></div>
	</div>
	<div class="col-xs-4 form text-center">
		
	</div>
	<div class="col-xs-4 form text-right">
		<%= form_tag 'javascript:void(0)', class: "getInfo" do %>
		<%= label_tag "recipe", "What do you want to eat?", class: "control-label" %>
		<%= text_field_tag '', nil, id:"recipe", placeholder: "Search", class: "recipeName form-control", autofocus: true %>
		<%= submit_tag ("Find Food"), class: "btn btn-success margin-top margin-bottom" %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="canvas-holder col-sm-6">
			<canvas id="chart-area" width="400" height="400"></canvas>
			<div class="cal-title">Cal</div>
			<div class="cal-caption">0</div>
			<!-- <div class="protein-caption">Protein: <span></span></div>
			<div class="fat-caption">Fat: </div>
			<div class="carb-caption">Carbs: </div> -->
	</div>
	<div class="canvas-holder col-sm-6">
		<canvas id="bar-chart" width="400" height="400"></canvas>
	</div>
</div>


<div class="row">
	<h2>Search Result:</h2>
	<div class="col-sm-12">
		<div class="user-data text-center">
			<img class="bowl" src="http://onnoodles.com/beta/images/onnoodles_icon_sm.png" alt="bowl">
		</div>
	</div>
</div>

