<header class="navbar navbar-inverse bs-docs-nav" role="banner">
        <div class="container ">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-link" data-id="carousel1">Body Budget</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse pull-right" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-link" data-id="signup">Log In</a></li>
                    <li><a href="#" class="scroll-link" data-id="whatwedo">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>