<div class="row">
	<div class="col-sm-6">
		<div class="course-time"></div>
		
		<h3>Search Result:</h3>
		<div>
		<% @results.each do |ingredient| %>
			<p>
				<%= ingredient %>
			</p>	
		<% 	end %>
			<div class="user-data text-center">
				<img class="bowl" src="http://www.sprig-and-sprout.com/wp-content/uploads/2012/07/bowls.png" alt="bowl">
			</div>
		</div>
	</div>
</div>
