/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylsheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require "bootstrap.min"
 */

.red-band {
 background-color: #F7464A;
 height: 25px;
 top: -2em;
 left: -2em;
 width: 1170px;
 position: relative;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
}

.sixcaps {

}

.bowl {
    margin-top: 3em;
}

.header{
	font-family: 
}

.thumb-ht {
	height: 425px;
}

.grey {
	background-color: #ecf0f1;
    z-index: 0;
    position: relative;
    height: 100%;
    padding: 2em; 
    border-radius: 20px 

}

.margin-top {
	margin-top: 1em;
}

.margin-bottom {
	margin-bottom: 1em;
}

@media (min-width: 768px){
#fixed-container{
	  position: fixed;
	  width: 33%;
	  right: 155px;
	  top: 0px;
	}
}
.canvas-holder {
	margin-top: 2em;
}

.cal-caption {
    font-family: Lato,sans-serif;
    color: black;
    opacity: 20;
    font-size: 55px;
    font-weight: 600;
    position: absolute;
    top: 0;
    /*width: 100%;*/
    height: 100%;
    text-align: center;
    line-height: 400px;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    width: 399px;
    z-index: -1;
  }

.cal-title {
    font-family: Lato,sans-serif;
    color: black;
    opacity: 20;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 0;
    /*width: 100%;*/
    height: 100%;
    text-align: center;
    line-height: 500px;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    width: 400px;
    z-index: -1;
  }