// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red-band {
    background-color: #F7464A;
    height: 25px;
    top: -2em;
    left: -2em;
    width: 104.5%;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.position-fixed {
    
}

.green-band {
    background-color: rgba(71, 191, 189, .5);
    height: 8px;
    width: 0 auto;
    position: relative;
}

.green-bg {
    background-color: #46BFBD;
    padding-top: 1.5em;
    padding-bottom: 1.5em
}

.move-top{
    top: 10px;
}
.six-caps{
    font-family: 'Six Caps', sans-serif;
    font-size: 60px;
}

.wire-one-small {
    font-family: 'Wire One', sans-serif;
    font-size: 45px;
    line-height: 45px;
}

.wire-one {
    font-family: 'Wire One', sans-serif;
    font-size: 55px;
}

.wire-one-large p{
    font-family: 'Wire One', sans-serif;
    font-size: 60px;
    margin: 0;
}

.bowl {
    margin-top: 3em;
}

.header{
	font-family:
}

.thumb-ht {
	height: 425px;
}

.grey {
	background-color: #ecf0f1;
    z-index: 0;
    position: relative;
    height: 100%;
    padding: 2em;
    border-radius: 20px;
}

.grey-box {
    background-color: #ecf0f1;
    z-index: 0;
    position: relative;
    height: 400px;
    padding: 2em;
    border-radius: 20px;
}

.border-white {
    border-style: solid;
    border-color: white;
}

.border-green {
    border-style: solid;
    border-color: #46BFBD;
}

.margin-top {
    margin-top: 1em;
}

.margin-top-negative {
	margin-top: -1em;
}

.margin-top-small {
    margin-top: -.5em;
}

.margin-bottom {
	margin-bottom: 1em;
}

@media (min-width: 768px){
#fixed-container{
	  position: fixed;
	}
}
.canvas-holder {
	margin-top: 2em;
    position: relative;
}

.margin-right{
   margin-right: 1em;
}

.cal-caption {
    font-family: 'Wire One', sans-serif;
    color: black;
    opacity: 20;
    font-size: 75px;
    font-weight: 600;
    position: relative;
    top: 0;
    /*left: 12px;*/
    height: 100%;
    text-align: center;
    top: -540px;
    line-height: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    width: 0 auto;
    z-index: -1;
}

.cal-title {
    font-family: 'Wire One', sans-serif;
    color: black;
    opacity: 20;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    /*left: 12px;*/
    top: -150px;
    height: 100%;
    text-align: center;
    line-height: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    width: 0 auto;
    z-index: -1;
  }